<%= form_for(@schedule_survey) do |f| %>
  <% if @schedule_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_survey.errors.count, "error") %> prohibited this schedule_survey from being saved:</h2>

      <ul>
      <% @schedule_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.hidden_field :survey_id, :value => @survey_id  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
